@import url('../../App.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ItemSettings {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

    border-radius: 1vh;

    overflow-y: scroll;

    grid-area: three;
    transition: width 550ms ease, transform 550ms ease;
}


.ContentArea.Expand .ItemSettings {
    width: 132%;
    transform: translateX(-24%);
}




.ItemConfigUI {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr auto;

    width: min-content;
    margin-block: 1.5%;
    margin-left: 1%;
}





.ItemSettingsUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(0.1rem, 10vw + 1rem, 25rem);

    padding-inline: 10%;
}

.ISFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: clamp(0.1rem, 3vw + 1rem, 100px);
    height: clamp(0.1rem, 3vw + 1rem, 100px);

    margin-top: 6%;
    margin-bottom: 5%;

    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    transition-property: background-color, border, transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.ISFrame img:first-child {
    height: 80%;
    width: auto;

    transform: translateY(25%);
}

.ISFrame .Tier {
    height: 40%;
    width: auto;
    font-family: Roboto, sans-serif;;
    transform: translateX(-95%) translateY(-15%) scale(1);
}

.ISFrame:hover {
    border: 0.3vh solid rgba(255, 21, 21, 0.461);
    transform: scale(1.1, 1.1);
}

.ISName {
    font-weight: 500;
    font-size: var(--step--1);
    text-align: center;
}

.ISRarity {
    font-weight: 300;
    font-size: var(--step--1);

}





.ISRarity.Common {
    color: var(--common);
}

.ISRarity.Uncommon {
    color: var(--uncommon);
}

.ISRarity.Rare {
    color: var(--rare);
}

.ISRarity.Epic {
    color: var(--epic);
}

.ISRarity.Legendary {
    color: var(--legendary);
}





.ValueChanger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: clamp(0.1rem, 4vw + 1rem, 200rem);

    margin-right: 30%;
}

.ValueChanger .Arrow {
    width: clamp(0.1rem, 1vh + 1rem, 25px);
    height: clamp(0.1rem, 1vh + 1rem, 25px);
    stroke: var(--unselected);

    cursor: pointer;

    transition-property: stroke, transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.Arrow.UP {
    transform: rotate(180deg);
}

.Arrow:hover {
    stroke: var(--font-color);
    transform: scale(1.2, 1.2);
}

.Arrow.UP:hover {
    transform: scale(1.2, 1.2) rotate(180deg);
}



.ValueChanger input {
    width: clamp(0.1rem, 2vw + 1rem, 70px);
    height: clamp(0.1rem, 2vw + 1rem, 70px);

    background-color: var(--secondary-color);
    border-radius: 20%;
    border: .15vw solid var(--primary-color);
    font-size: var(--step--1);

    outline: none;

    text-align: center;

    margin: 0 5%;

    -moz-appearance: textfield;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.ValueChanger input::-webkit-outer-spin-button,
.ValueChanger input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}


.ValueChanger input:focus {
    outline: none;
    border: .15vw solid var(--unselected);
    background-color: var(--tericary-color);
}



.RecipeItems {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}


.RecipeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(8%);

    width: clamp(0.1rem, 5vw + 1rem, 150px);
    transform: translateY(-5%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
}


.RIName {
    position: absolute;

    font-weight: 500;
    font-size: var(--step--2);
    text-align: center;

    width: 10vw;

    transform: translateY(-420%);
}

.RIFrame {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(0.1rem, 4.5vh + 1rem, 200px);
    height: clamp(0.1rem, 4.5vh + 1rem, 200px);

    margin-block: 10%;

    border-radius: 100%;

    background-color: var(--secondary-color);
}

.RIFrame.Common, .RIFrame.Uncommon, .RIFrame.Rare, .RIFrame.Epic, .RIFrame.Legendary {
    background-size: cover;
    background-repeat: no-repeat;
}

.RIFrame.Common {
    background-image: url(../../../public/ItemFrames/Circle_Common.png);
}

.RIFrame.Uncommon {
    background-image: url(../../../public/ItemFrames/Circle_Uncommon.png);
}

.RIFrame.Rare {
    background-image: url(../../../public/ItemFrames/Circle_Rare.png);
}

.RIFrame.Epic {
    background-image: url(../../../public/ItemFrames/Circle_Epic.png);
}

.RIFrame.Legendary {
    background-image: url(../../../public/ItemFrames/Circle_Legendary.png);
}


.RIFrame img {
    width: 70%;
}

.RIValue {
    font-weight: 400;
    font-size: var(--step--2);

    transition: all 0.5s ease;
}








.RecipeItem .RIName {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.RecipeItem.Hover {
    transform: translateY(5%);
}

.RecipeItem.Hover .RIName {
    opacity: 1;
}





@media (max-width: 1500px) {

    .ItemSettingsUI {
        margin: 0;
    }

    .ISName, .ISRarity {
        font-size: var(--step--1);
    }

    .ISFrame {
        width: clamp(0.1rem, 4vh + 1rem, 130px);
        height: clamp(0.1rem, 4vh + 1rem, 130px);
    }

    .ValueChanger {
        width: 13%;
        margin-inline: 1.5rem;
    }

    .ValueChanger input {
        width: clamp(0.1rem, 2vh + 1rem, 70px);
        height: clamp(0.1rem, 2vh + 1rem, 70px);
        margin: 0 10%;
    }

    .ValueChanger .Arrow {
        width: clamp(0.1rem, 0.4vh + 1rem, 25px);
        height: clamp(0.1rem, 0.4vh + 1rem, 25px);
    }

    .RecipeItem {
        width: clamp(0.1rem, 6vw + 1rem, 200px);
    }

    .RIName {
        font-size: var(--step--2);
    }

    .RIFrame {
        width: clamp(0.1rem, 4vh + 1rem, 200px);
        height: clamp(0.1rem, 4vh + 1rem, 200px);
        margin: 20% 0;
    }

}

@media (max-width: 1050px) {


    .ISFrame {
        width: clamp(0.1rem, 3vh + 1rem, 130px);
        height: clamp(0.1rem, 3vh + 1rem, 130px);
    }

    .RecipeItem {
        width: clamp(0.1rem, 5vw + 1rem, 200px);
        margin: 0;
    }

    .RIFrame {
        width: clamp(0.1rem, 2.5vw + 1rem, 200px);
        height: clamp(0.1rem, 2.5vw + 1rem, 200px);
        margin: 15% 0;
    }
    
}

@media (max-width: 600px) {

    .ItemSettings {
        display: flex;
    }

    .ItemConfigUI {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        height: 100%;

        margin: 0;
    }

    .ItemSettingsUI {

        margin: 0;
        width: 20vw;
        height: auto;

        margin-bottom: 20%;
    }

    .ISName, .ISRarity {
        font-size: var(--step-1);
    }

    .ISFrame {
        width: clamp(0.1rem, 6vw + 1rem, 130px);
        height: clamp(0.1rem, 6vw + 1rem, 130px);

        margin-bottom: 10%;
    }

    .ValueChanger {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 20vh;
        margin-bottom: 5vh;
    }

    .ValueChanger input {
        width: clamp(0.1rem, 2vw + 1rem, 70px);
        height: clamp(0.1rem, 2vw + 1rem, 70px);
        margin: 0 10%;

        font-size: var(--step--2);

        transform: translateY(-30%);
    }

    .RecipeItems {
        flex-direction: column;
    }

    .RecipeItem {
        width: clamp(0.1rem, 9vw + 1rem, 200px);
        margin-bottom: 10%;

        transform: translateY(-15%);
    }

    .RIName, .RIValue {
        font-size: var(--step-0);
    }

    .RIName {
        transform: translateY(-7vh);
    }

    .RIFrame {
        width: clamp(0.1rem, 4vw + 1rem, 200px);
        height: clamp(0.1rem, 4vw + 1rem, 200px);
        margin: 15% 0;
    }

}



@media (max-width: 700px) and (orientation: landscape) {

    .ItemConfigUI {
        grid-template-columns: 13vw 7vw auto;
        height: 25vh;
    }

    .ISFrame {
        width: clamp(0.1rem, 5vw + 1rem, 130px);
        height: clamp(0.1rem, 5vw + 1rem, 130px);
    }

    .ISName, .ISRarity, .RIValue, .RIName {
        font-size: var(--step-0);
    }

    .RIName {
        width: 20vw;
    }

    .ValueChanger {
        margin: 0;
        width: auto;
    }

    .RecipeItem {
        width: 9vw;
    }

    .RIFrame {
        width: clamp(0.1rem, 4vw + 1rem, 200px);
        height: clamp(0.1rem, 4vw + 1rem, 200px);
    }
}