@import url('../../App.css');

.CategoryFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 20%;

    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    
    background-color: var(--primary-color);
    border-radius: 1vh;

    grid-area: two;
    transition: transform 550ms ease;
}

.ContentArea.Expand .CategoryFilter {
    transform: translateX(-200%);
}

.RarityDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2% 0;
    padding: 5%;
    padding-bottom: 10%;
    width: 100%;

    cursor: pointer;

    transition-property: transform, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.RarityDiv:hover {
    background-color: var(--dark-color);
}

.RarityDiv:hover img,
.RarityDiv:hover .RarityTitle {
    filter: grayscale(20%);
    transform: scale(1.2, 1.2) translateY(7%);
}
.RarityDiv:hover .RarityTitle {
    transform: scale(1.2, 1.2) translateY(40%);
    font-weight: 600;
}



.RarityDiv img {
    width: 20%;
    margin: 7% 0;

    filter: grayscale(70%);

    transition-property: transform, background-color, filter;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.RarityDiv .CategoryImg {
    width: 40%;
}

.RarityTitle {
    margin-block: 7%;

    font-size: var(--step--2);
    font-weight: 300;

    text-align: center;
    height: 30%;
    width: 100%;


    transition-property: transform, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}


.RarityDiv.True {
    background-color: var(--dark-color);
}

.RarityDiv.True img,
.RarityDiv.True .RarityTitle {
    filter: grayscale(0%);
    transform: scale(1.2, 1.2) translateY(7%);
}

.RarityDiv.True .RarityTitle {
    transform: scale(1.2, 1.2) translateY(40%);
    font-weight: 700;
}




@media (max-width: 700px) {

    .CategoryFilter {
        display: grid;
        grid-auto-columns: 17%;
        grid-auto-flow: column dense;
        padding: 0;
        width: 56vw;

        overflow-x: scroll;
        overflow-y: hidden;
    }

    .RarityDiv {
        height: 100%;
        width: 100%;
        padding: 0;

        transform: scale(1, 1);
    }

    .RarityTitle {
        width: auto;
        height: auto;
        font-size: var(--step--1);
    }

    .RarityDiv.True {
        background-color: var(--terciary-color);
    }

    .ContentArea.Expand .CategoryFilter {
        transform: translateX(-27%);
        width: 87vw;
    }
}



@media (max-width: 450px) {


    .RarityTitle {
        font-size: var(--step--2);
        font-weight: 300;
    }
    

}