@import url('../../App.css');




.MainNavbar {
    width: 100%;
    height: clamp(0.1rem, 12%, 180px);
    background-color: var(--primary-color);

    position: relative;
    z-index: 20;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




.LogoContainer {
    width: clamp(0.1rem, 10vw + 1rem, 220px);
    margin: 0 5%;
}




.NavbarItems {
    display: flex;
    flex-direction: row;
    place-content: center;

    height: 100%;
    width: 70%;

    list-style-type: none;
}



.NavbarItems li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: clamp(0.1rem, 20%, 40rem);
    height: 100%;


    font-size: var(--step-1);
    font-weight: 500;
    
    cursor: pointer;

    transition-property: transform, color, font-size, font-weight;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.NavbarItems li:hover {
    transform: translateY(-1.25rem);
}




.NavbarItems li::after {
    content: "";
    background-color: var(--font-color);

    height: 0.5rem;
    width: 25rem;

    bottom: 0;

    position: absolute;

    transform: scale(0, 0.6);
    transition: transform 200ms ease-in, background-color 300ms ease-in;
}

.NavbarItems li:hover::after {
    background-color: var(--selected);
    transform: scale(0.7, 1) translateY(1.25rem);
}


.NavbarItems li.Unselected {
    color: var(--unselected);
}

.NavbarItems li.Active {
    color: var(--font-color);
    font-size: var(--step-2);
    font-weight: 700;
}







.Languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150%;
    width: 10%;
    margin: 0 5vw;

    transform: translateY(31%);
}


.LanguageDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80%;
    height: 30%;

    cursor: pointer;
    text-align: center;

    border-radius: 7%;
    background-color: var(--secondary-color);
    transform: translateY(20%);

    transition: background-color 350ms ease, width 350ms ease, height 350ms ease, transform 350ms ease;
}

.Languages.true .LanguageDropdown {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.LanguageDropdown:hover, .Languages.true .LanguageDropdown {
    background-color: var(--terciary-color);
    width: 100%;
    height: 40%;
    transform: translateY(0%);
}

.Languages .Choices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 0vh;
    width: 80%;
    background-color: var(--terciary-color);
    border-radius: 7%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 5%;

    transition: 400ms height ease, 400ms width ease;
}

.Languages.true .Choices {
    height: 10vh;
    width: 100%;
}
.Languages .Choices > p {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-size: 0px;
    width: 100%;
    height: 50%;

    transition: 400ms font-size ease, background-color 350ms ease;
}

.Languages.true .Choices > p {
    font-size: var(--step-0);
}

.Choices > p:hover {
    background-color: var(--unselected);
}




.ThemeIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-color);

    height: 65%;
    width: 10%;
    border-radius: 5%;
    padding: 2%;

    cursor: pointer;

    margin-right: 3%;
}

.ThemeIcon {
    width: 30%;
    fill: var(--font-color);

    transition-property: filter, opacity, color;
    transition: 250ms ease-in-out;
}

.ThemeIcon.On {
    filter: drop-shadow(0 0 .5vw var(--font-color));
}

.ThemeIcon.Off {
    fill: var(--unselected);
    opacity: 0.6;
}


@media (max-width: 600px) {
    .MainNavbar {
        height: clamp(0.1rem, 8%, 100px);
    }

    .ThemeIconContainer {
        width: 18%;
    }
}