@import url('../App.css');

.ContentArea {
    display: grid;

    box-sizing: border-box;

    width: clamp(0.1rem, 95%, 2200px);
    height: 88%;

    grid-template-areas:
        'collapseButtom two three'
        'one two three'
        'one two three'
        'one two three'
        'one two four';
    grid-template-columns: 25% 10% 63%;
    grid-template-rows: 40px repeat(3, 21%) 28%;
    clip-path: inset(-100% 0 0 0);

    gap: clamp(0.1rem, 1%, 20rem);
    padding: clamp(0.1rem, 1%, 2rem);
}

.ContentArea.Expand .ColapseButtom {
    width: 20%;
}

.ColapseButtom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    cursor: pointer;

    grid-area: collapseButtom;

    background-color: var(--primary-color);
    border-radius: 0.5vw;

    font-size: var(--step--1);
    font-weight: 700;

    transition: width 550ms ease;
}

.Colapse {
    height: 40%;
    stroke: var(--font-color);
    stroke-width: 5;

    transform: rotate(90deg);

    transition-property: transform, height;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.ContentArea.Expand .Colapse {
    transform: rotate(-90deg);
    height: 30%;
}


@media (max-width: 700px) {

    .ContentArea {
        grid-template-areas:
        'collapseButtom two two'
        'one two two'
        'one three three'
        'one four four';
        grid-template-rows: 5% 7% 60% 28%;
        grid-template-columns: 40% 60%;
    }

    .ContentArea.Expand {
        grid-template-columns: 32% 40% 40%;
    }
    
}

@media (max-width: 700px) and (orientation: landscape) {

    .ContentArea {
        grid-template-rows: 10% 10% 50% 27%;

    }
}