@import url('../../App.css');

.RecipeResult {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

    border-radius: 1vh;

    grid-area: four;
}

.RRTip {
    font-size: var(--step-0);
    color: var(--unselected);
    margin-block: 1%;
}


.ResultList {
    display: grid;
    gap: 1.25rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(140px, 200px));
    grid-auto-rows: 200px;

    width: 100%;
    max-height: auto;
    margin: 0 auto;

    overflow-y: scroll;
}



.RecipeCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 200px;
    margin: 0 3%;

    cursor: help;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
}


.RecipeCounter::after {
    content: attr(data-content);
    opacity: 0;

    padding: 4% 7%;
    border-radius: 0.5vh;

    font-size: var(--step--1);

    background-color: var(--secondary-color);

    transform: scale(1, 1) translateY(0%);

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease;
}





.RCFrame {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    margin-block: 10%;

    border-radius: 0.6vh;

    background-color: var(--secondary-color);
}

.RCImage {
    width: 70%;
    height: 70%;
}

.RCName {
    font-size: var(--step-0);
    font-weight: 600;

    text-align: center;

    width: 100%;

    margin-bottom: 5%;
}

.RCValue {
    display: flex;
    flex-direction: column;

    font-size: var(--step-0);
    font-weight: 400;
}

.RecipeCounter:hover::after {
    opacity: 1;
    transform: scale(1.2, 1.2) translateY(-60%);
}






@media (max-width: 1500px) {

    .ResultList {
        grid-template-columns: repeat(auto-fit, minmax(80px, 150px));
        grid-auto-rows: 120px;
    }

    .RCFrame {
        width: 55px;
        height: 55px;
    }

    .RCName, .RCValue {
        font-size: var(--step--1);
    }

    .RecipeCounter::after {
        padding: 2% 5%;
        font-size: var(--step--1);
    }


}

@media (max-width: 1100px) {

    .ResultList {
        grid-template-columns: repeat(auto-fit, minmax(80px, 140px));
        grid-auto-rows: 120px;
    }

    .RecipeCounter {
        height: 130px;
    }

}

@media (max-width: 850px) {

    
    .ResultList {
        grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
        grid-auto-rows: 100px;
    }

    .RecipeCounter {
        height: 110px;
    }

}

@media (max-width: 600px) {

    
    .RRTip {
        font-size: var(--step-2);
    }

    .ResultList {
        grid-template-columns: repeat(auto-fit, minmax(40px, 70px));
        grid-auto-rows: 80px;
    }

    .RCFrame {
        width: calc(9vw + 1rem);
        height: calc(9vw + 1rem);
    }

    .RecipeCounter {
        height: 110px;
    }

}

@media (max-width: 400px) {

    .ResultList {
        grid-template-columns: repeat(auto-fit, minmax(30px, 40px));
        grid-auto-rows: 50px;
    }

    .RRTip {
        font-size: var(--step-2);
    }

    .RCFrame {
        width: calc(6vw + 1rem);
        height: calc(6vw + 1rem);
    }

    .RecipeCounter {
        height: 70px;
    }

}